pipeline/1c_pl_dim_sub_raw_o_intermediate_full_load.json
{
	"name": "1c_pl_dim_sub_raw_o_intermediate_full_load",
	"properties": {
		"activities": [
			{
				"name": "dim raw to intermediate",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/dim_raw_to_intermediate",
					"baseParameters": {
						"gcp_file_last_modified_time": {
							"value": "@pipeline().parameters.source_file_last_modified_time",
							"type": "Expression"
						},
						"raw_schema": {
							"value": "@pipeline().parameters.metadata_lookup_values.raw_schema",
							"type": "Expression"
						},
						"raw_table": {
							"value": "@pipeline().parameters.metadata_lookup_values.raw_tbl",
							"type": "Expression"
						},
						"intermediate_schema": {
							"value": "@pipeline().parameters.metadata_lookup_values.intermediate_schema",
							"type": "Expression"
						},
						"intermediate_table": {
							"value": "@pipeline().parameters.metadata_lookup_values.intermediate_tbl",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim landing to intermediate success log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dim raw to intermediate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Inserted', activity('dim raw to intermediate').output.runOutput[1],' records in intermedeiate layer table ',pipeline().parameters.metadata_lookup_values.intermediate_tbl)",
							"type": "Expression"
						},
						"status": "Success",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@utcNow()",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim landing to intermediate failure log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dim raw to intermediate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@activity('dim raw to intermediate').output.Error.message",
							"type": "Expression"
						},
						"status": "Failure",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@utcNow()",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_lookup_values": {
				"type": "object"
			},
			"source_file_last_modified_time": {
				"type": "string"
			},
			"source_file_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}